nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 0.5rem 2rem;
}

nav a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-link-button {
  border: white 1px solid;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  display: inline-block;
}

.nav-link-button:hover {
  background-color: white;
  color: #1e1e1e;
  text-decoration: none;
}

#menuMobile {
  display: none; /* Hide the menu by default */
}

#toggleButton {
  display: none; /* Hide the button by default */
}

/* Styles for mobile screens (max-width: 768px) */
@media (max-width: 768px) {
  nav {
    display: none; /* Hide the desktop nav on mobile */
  }
  .nav-link-button {
    width: 30px;
    margin: 0;
    border-radius: 0;
  }

  #toggleButton {
    font-size: 24px;
    display: block; /* Show the button on mobile screens */
    background-color: #1e1e1e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  #menuMobile {
    display: flex; /* Show the menu when visible */
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 10px;
    position: absolute;
    left: 0;
    width: 100%;
  }

  #menuMobile a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  #menuMobile a:hover {
    background-color: #ddd;
  }
}
